	<div class="row">
		<div class="col-sm-3 col-md-3">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Content</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<ul class="list-group">
							<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span> <a>Blogs</a>
								<ul class="list-group">
									<li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a>Edit Blog</a></li>
									<li class="list-group-item"><span class="glyphicon glyphicon-minus text-success"></span> <a>Publish Blog</a></li>
									<li class="list-group-item"><span class="glyphicon glyphicon-minus text-warning"></span> <a>Delete Blog</a></li>
								</ul>
							</li>
							<li class="list-group-item"><span class="glyphicon glyphicon-edit text-success"></span> <a>Contact us</a></li>
							<li class="list-group-item"><span class="glyphicon glyphicon-share-alt text-info"></span> <a>Share</a></li>
							<li class="list-group-item"><span class="glyphicon glyphicon-bell text-success"></span> <a>Users online</a><span class="badge">7</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Menu Information</h3>
				</div>
				<div class="panel-body">                    
					<div class="alert alert-success">
						<h3>Review the information supplied in this section to get to know something more about the company, blogs and contents.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

