<form ng-submit="login()">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" ng-model="credentials.email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="credentials.remember"> Remember me</label>
  </div>
 
  <button type="submit" class="btn btn-primary">Login</button> <a href="#/reset">Forgot password</a>&nbsp<a href="#/register">Register</a>
</form> 

