<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <form ng-submit="requestReset()" shake-that>
      <fieldset class="radius">
        <div class="row">
          <div class="large-12 columns">
            <input type="text" name="email" placeholder="email" ng-model="user.email" required/>           
          </div>           
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button large expand radius">Reset Password</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
