<div id="resetPassword" class="row">
  <div class="large-6 large-offset-3">
    <form ng-submit="resetPassword()">
      <fieldset class="radius">         
        <div class="row">
          <div class="large-7 columns">
            <input type="password" name="password" placeholder="Password" ng-model="user.password" required/>
          </div>
        </div>
        <div class="row">
          <div class="large-7 columns">
            <input type="password" name="password_confirmation" placeholder="Confirm Password" ng-model="user.password_confirmation"  required/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button large expand radius">Reset Now!</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
