<div id="resetPassword" class="row">
  <div class="large-6 large-offset-3">
    <form ng-submit="resetPassword()">
      <fieldset class="radius">         
        <div class="row">
          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password" required/>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="password" name="password_confirmation" class="form-control" placeholder="Confirm Password" ng-model="user.password_confirmation"  required/>
          </div>
        </div>
        <div class="row">          
            <button type="submit" class="btn btn-primary">Reset Now!</button>         
        </div>
      </fieldset>
    </form>
  </div>
</div>
