<form ng-submit="login()">
	<div class="row text-center">
		<div class="col-md-4 col-sm-12">
			<button type="button" class="btn btn-primary btn-block">Facebook</button>
		</div>
		<div class="col-md-4 col-sm-12">
			<button type="button" class="btn btn-info btn-block">Twitter</button>
		</div>
		<div class="col-md-4 col-sm-12">
			<button type="button" class="btn btn-danger btn-block">Google+</button>
		</div>
	</div>
	<hr />
	<div class="form-group">
		<label for="inputEmail">Email</label>
		<input type="email" class="form-control" ng-model="credentials.email" placeholder="Email" required>
	</div>
	<div class="form-group">
		<label for="inputPassword">Password</label>
		<input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
	</div>
	<div class="form-group">   
		<div class="checkbox">
			<label><input type="checkbox" ng-model="credentials.remember"> Remember me</label>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
		<span><a href="#/reset">Forgot password</a></span>
		<span class="pull-right"><a href="#/register">New Registration</a></span>
	</div>  
</form> 


