<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <form ng-submit="requestReset()" shake-that>
      <fieldset class="radius">        
        <div class="form-group">
          <input type="text" name="email" class="form-control" placeholder="email" ng-model="user.email" required/>           
        </div>  
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
